*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
header{
    background-image: url("./images/bg_1.jpg");
    height: 780px;
    width: 1340px;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.li-head{
    list-style: none;
    padding: 20px;
   margin-top: 30px;
}
.header-logo{
    margin-top: 30px;
    text-decoration: none;
    font-size: 25px;
    color: black;
}
.btn-li{
    padding: 15px;
    background: #0266fc;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 15px;
}
.btn-li:hover{
    color: black;
    transition: 0.5s;
}
.home{
    opacity: 45%;
    cursor: pointer;
}
.home:hover{
    opacity: 1;
    transition: 1s;
}
.sign{
    display: flex;
    justify-content: space-around;
    
    margin-top: 100px;
}
.sign-para{
    line-height: 50px;
    margin-top: 30px;
}
.sign-header{
    color: #4b4b4d7e;
    font-weight: 100;
}
.sign-header-span{
    font-weight: 900;
    color: #0266fc;
    font-size: 50px;
}
.par{
    font-size: 20px;
    font-weight: 200;
    color: #4b4b4de7;
}
.form-main{
    border: none;
    outline: none;
    height: 450px;
    width: 400px;
    background-color: white;
    border-radius: 2px;
}

h2, input{
    margin-bottom: 20px;
}


.form-head{
    font-size: 30px;
    padding-top: 35px;
    padding-bottom: 10px;
    margin-left: 40px;
    font-weight: 400;
}
.inpt{
    border: none;
    padding: 10px;
    width: 75%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    font-size: 18px;
    outline: none;
    margin-left: 30px;
    font-size: 15px;
}
.inpt-check{
    margin-left: 35px;
    margin-right: 3px;
}

.check-text{
    color: #4b4b4de7;

}
.checkout{
    display: block;
    text-align: left;
}
.btn{
    width: 75%;
    padding: 20px;
    background-color: #0266fc;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    margin-left: 35px;
    margin-top: 20px;
    cursor: pointer;
}